.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 256px;
    height: 600px;
    padding: 25px;
    display: inline-block;
    border: solid thin black;
    margin-top: 15px;
    background-color: #BF9553;
    font-size: 13pt;
    font-family: fantasy;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    height: 256px;
    width: 256px;
    border: thin black solid;
}

.content {
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}