body {
    display: flex;
}

img {
    height: 256px;
    width: 256px;
    display: inline-block;
    border: thin black solid;
}

.content {
    padding-top: 100px;
}

.exec-member {
    border: solid thin black;
    margin-top: 15px;
    display: flex;
}

h2 {
    display: inline;
    position: relative;
    margin-left: 15px;
}

p {
    border: solid thin black;

}